
.carselection-headline {
	font-size: 32px;
}

.top-header {
	font-size: 54px;
}

@media screen and (max-width: 1024px) {
	.container-body {
		width: 150%;
	}
	.headline h1 {
		position: absolute;
		left: 100px;
		top: 150px;
	}
}