


.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
.carselection-headline {
	font-size: 32px;
}

.top-header {
	font-size: 54px;
}

@media screen and (max-width: 1024px) {
	.container-body {
		width: 150%;
	}
	.headline h1 {
		position: absolute;
		left: 100px;
		top: 150px;
	}
	

}