
.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
.carselection-headline {
	font-size: 24px;
}

.top-header {
	font-size: 32px;
}

.cars {
    display: inline-block;
    width: 80%;
}

.nav-bar {
	margin-bottom: 10px;
}

.carname {
	width: 2px;
	height: 2px;
}

.car div {
	display: inline-block;
}

.car {
    display: block;
    width: 200%;
    float: middle;
}